<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: '¿?' }) %>

	<body>
		<!-- Header -->
		<%- include('partials/headerNavbar') %>
			<!-- /Header -->

			<!-- product detail -->
			<div class="container products-wrapper">
				<div class="row">
					<div class="col-12">
						<h2 class="products-title">Detalle del producto: <%= p4.name %>
						</h2>
					</div>
				</div>
				<div class="product-detail">
					<div class="row">
						<div class="col-12 col-lg-8">
							<img src="/images/products/<%= p4.image %>" alt="product image" class="product-detail-img">
							<p class="product-detail-description">
								<%= p4.description %>
							</p>
						</div>
						<div class="col-12 col-lg-4">
							<article class="product-detail-info">
								<h2 class="product-detail-title">
									<%= p4.name %>
								</h2>

								<p class="product-detail-price small" id="descuentocero">
									<% if (p4.discount !==0) { %>
										<span>$<%= p4.price.toLocaleString() %></span>
										/
										<b>
											<%= p4.discount.toLocaleString() %>% OFF
										</b>
										<% } else { %>
											<span>$<%= p4.price.toLocaleString() %></span>
											<% } %>


								</p>
								<p class="product-detail-price">
									<% if (p4.discount === 0) { %>
										<span>$<%= p4.price.toLocaleString() %></span>
									<% } else { %>
										<span>$<%= (p4.price - (p4.price * p4.discount / 100)).toLocaleString() %></span>
									<% } %>
								</p>

								<ul class="actions-list">
									<li>
										<i class="fas fa-credit-card"></i>
										<p>Pagá en 12 cuotas sin interes</p>
									</li>
									<li>
										<i class="fas fa-store"></i>
										<p>Retiro gratis en locales del vendedor</p>
									</li>
								</ul>

								<a href="#" class="buy-now-button">COMPRAR AHORA</a>
								<hr>

								<a href="/products/edit/<%= p4.id %>" class="action-button edit">EDITAR PRODUCTO</a>
								<form action="/products/delete/<%= p4.id %>?_method=DELETE" method="POST"
									style="display: inline-flex">
									<button type="submit" class="action-button delete">ELIMINAR</button>
								</form>
							</article>
						</div>
					</div>
				</div>
			</div>
			<!-- /product detail -->

			<!-- footer -->
			<%- include('partials/footer') %>
				<!-- /footer -->
				<script>
					window.onload = function() {
						var descuentocero = document.getElementById("descuentocero");
						var p4Discount = <%= p4.discount %>;
				
						if (p4Discount === 0) {
							descuentocero.style.display = "none";
						}
					};
				</script>
	</body>

</html>